@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.header,.footer{background-color: #000;
  color: #fff;
  font-family: "Open sans",sans-serif;
}
.header h3{padding: 1%;
  font-family: "Open sans",sans-serif;
}
.footer *{padding: .5%;}
.center{text-align: center;}
h1,h2,h3,h4,h5,h6{font-family: "Open sans",sans-serif;}
ul>li{list-style: none;}

.del_icon{opacity: 1;
	color: #f00;
	/*font-size: .8em;*/
}
.del_icon:hover{opacity: 1}


/* ===== Main page ====== */
#Main,#Iteration,#Canvas{min-height: 580px;
}

#Canvas .element{padding: 1%;
}